@import "compass/css3";
//@import "normalize";

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #C8C8C8;
    margin: 0;
    letter-spacing: .1em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#3E6C99;
}
.caption {
    font-style: italic;
    font-size: .75em;
}

#h-menu {
    text-align: center;
    position: fixed;
    top:0;
    @include box-sizing(border-box);
    width:100%;
    z-index: 999;


}
#nav-bg {
    background-color: rgba(36,44,54,0.85);
    height:3em;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
}
.top-spacer {
    padding-top: 3em;
    margin-top: 2em;
}

#nav-list {
    position: relative;
    margin-right: 2em;   
    z-index: 999;
}

#h-menu li {
    display: inline;
    margin: 0 2em 0 0;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2em;
}
#logo-item {
    margin-top:-1em;
    img {
        max-width: 100%;
    }
}


#h-menu li a, #mobile-title {
    color: #31B0D1; 
}
#h-menu li a.shadow,#h-menu li a:hover, #menu-icon:hover {
    color: #30D130;
}
#h-menu li a img {
    position: relative;
    margin-right:.25em;
    height:1em;
    margin-top: -.2em;
}
#h-menu li:last-child {
    margin-right: 0;
}
#h-menu li#mobile-title, #menutoggle {
    display: none;
}

#row1 {
    margin: auto;
    text-align: center;
}
.col-divider {
    display: inline-block;
    width:2em;
}
#links {
    display: inline-block;
    float:right;
    background-color:rgba(36,44,54,0.85);
    @include border-radius(5px);
    img {
        opacity: 0.8;  
        width:100%;
    }
    img:hover {
        opacity: 1;
        @include transition(opacity 500ms);
    }
    a {
        width:3em;
        display: inline-block;
        margin:0.5em;
    }
}
.content, .content-header{
    max-width: 800px;
    background-color:rgba(36,44,54,0.85);
    padding: .5em;
    margin: auto;
    margin-bottom: 50px;
     
}
.content-header{
    margin-bottom: 3em;
    height:4em;     
}

.content p, .contentsection {
    padding :1em;
    background-color:#C8C8C8;
    margin: 1em .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.header-titles {
    text-align: right;
    display:inline-block;
    width:auto;
    float:left;
            margin-left: 0.5em;
}
.header-title {
    margin-top: 0.5em;
    text-align: right;
    display:inline-block;
    width:auto;
}
.header-subtitle {

    margin-top: 0.5em;
    text-align: left;
    display:inline-block;
    width:auto;
    margin-left: 1em;
    line-height: 1.5;
}
.header-subtitle span {
    display:block;
}
.contentsection {
    
    background-color:rgb(200,200,200);
}
#homecontent {
    max-width:600px;
    padding: 1em;
}
#book-us{
    text-align: center;
}
.show-listing {
    text-align: left;
}
.show-listing a {
    display: inline-block;
}
.show-listing img {
    max-height: 1.2em;
    vertical-align: text-bottom;
}
.show-listing img:hover {
        opacity: 40%;
}
.post-media {
    max-width: 480px;
    margin:auto;
    position: relative;
    margin: 1em auto;
}
.post-media img {
    max-width: 100%;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.soundcloud-wrapper iframe {

}
.post-header h3 {
    color:#444A53;
    display: inline;
    margin:auto 1em;
    word-wrap:break-word;
}
.post-header h3.show-alert{
    color:#31B0D1;
    margin:auto;
}
.post-content p {

background-color:#DDD;
}
.post-date {
    display: inline-block;
    font-style: italic;
    color:#666;
}
     
@media only screen and (max-width: 50em) {
    .top-spacer {
        margin: 0;
        //display: none;
    }

    #h-menu li#mobile-title {

        position: relative;
        display:block;
        font-size: 1.8em;
        z-index: 999;
        text-align: left;
        padding-left: 1em;
    }
    #menu-icon {
        position: relative;
        display: inline-block;
        float:right;
        margin:0 1em;
        font-style: normal;
    }
    #h-menu {
        //position: relative;
        margin-bottom: 0;
        height:3em;
    }
    #nav-list {
        width: 100%;
        visibility:hidden;
        position: absolute;
        background-color:rgba(200,200,200,0.95);
        top: 3em;
    }
    #h-menu li {
        font-size: 1.5em;
        display: block;
        margin: 0;
        text-align: left;
        padding-left: 1em;
    }
    #-link {
        display: none;
    }
    #nav-bg {
        height: 3em;
        background-color:rgba(200,200,200,0.95); 
    }
    #row1 {
        //margin-top: 1em;
        background-color:rgba(36,44,54,0.85);
    }
    #links {
        float: none;
        display: block;
        clear:both;
    }
    .header-titles {
        float:none;
    }
    .content {
        background: transparent;
}
    #homecontent {
        padding: 1em 0;
    }
    .content-header {
        height: auto;
    }
    #coverphoto {
        //margin: 0;
        padding: 0;
    }

    
    #menutoggle {
    position:absolute;
    opacity: 0;
    cursor:pointer;
    left:-100%;
    top:-100%;

    }
    /*
#test {
    height:100px;
    width: 100px;
    background-color: #F00;
    visibility: hidden;
}*/
    #menutoggle:checked ~ ul {
        visibility: visible;
    }

    

   /* nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }*/

    



}
@media only screen and (max-width: 520px) {
    .header-title, .header-subtitle {
        display: block;
        width:auto;
        text-align: center;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 35em) {*/
    /* Style adjustments for viewports that meet the condition */
/*}*/

/*@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {*/
           /* Style adjustments for high resolution devices */
/*}*/

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
